<!-- User signed in -->

<!-- Create new event: link to events/new -->
<!-- All Events -->
<!-- create new html so first index signin will be dashboard past events -->
{% extends 'base.html' %}
{% include 'partials/navbar.html' %}
{% block content %}
<h1 class="py-4 text-center font-monospace">DASHBOARD</h1>
<div class="d-flex align-items-center justify-content-center py-2" >
    <ul class="list-group w-50 fw-light text-center">
        <a class="text-decoration-none" href="#"><li class="list-group-item mb-3">Event</li></a>
        <a class="text-decoration-none" href="#"><li class="list-group-item mb-3 border-1 border">Event</li></a>
      </ul>
</div>
{% endblock %}