<!-- User signed in -->

<!-- Create new event: link to events/new -->
<!-- All Events -->
<!-- create new html so first index signin will be dashboard past events -->
{% extends 'base.html' %}
{% include 'partials/navbar.html' %}
{% block content %}
<h1 class="py-4 text-center font-monospace">DASHBOARD</h1>
<div class="d-flex align-items-center justify-content-center py-2" >
  <ul class="list-group w-50 fw-light text-center">
    {% for event in events %}
      <a class="text-decoration-none" href="/events/{{event._id}}">
        <li class="list-group-item mb-3">
          {{event.name}}
        </li>
      </a>
      <!-- <a class="text-decoration-none" href="#"><li class="list-group-item mb-3 border-1 border">Event</li></a> -->
    {% endfor %}
    </ul>
</div>
{% endblock %}
