{% extends 'base.html' %}
{% include 'partials/navbar.html' %}
{% block content %}

<!-- <notification>Event Was Created</notification> -->
<h1 class="py-4 text-center font-monospace">ALL DONE!</h1>

<div class="d-flex justify-content-center align-items-center">
    <div class="border w-50 py-5">
        <p>Event title: {{event['event_name']}}</p>
        <p>host name: {{event['owner_name']}}</p>
        <p>My Phone number: {{event['phone_number']}}</p>
        <p>Event time: {{event['time']}}</p>
        <p>date: {{event['date']}}</p>
        <p>Friend 1 | Pending</p>
        <p>Friend 2 | Pending</p>
        <!-- <button type="button" class="btn btn-primary">Invite more friend</button> -->
        <button type="submit" class="btn btn-primary mx-2">Done</button>
    </div>
</div>

<!-- <img src="" alt=""> -->
<!-- _____ invited you to attend ____. Click here to respond. -->
{% endblock %}
