{% extends 'base.html' %}
{% include 'partials/navbar.html' %}
{% block content %}
  <h1 class="py-4 text-center font-monospace">Please let us know if you are still attending!</h1>
  <h1 class="py-4 text-center font-monospace fs-3">"{{ event.name }} with {{ event.owner_name }}"</h1>
  <form class="d-flex flex-column align-items-center" method="POST">
    <div class="d-flex w-100 justify-content-center">
      <form method="POST">
        <button type="submit" name="response" value="true" class="mx-5 btn btn-primary bg-light text-dark font-monospace px-3"  style="height: 40px;">I'm coming</button>
      </form>
      <form method="POST">
        <button type="submit" name="response" value="false" class="me-5 btn btn-danger bg-light text-dark font-monospace" >I can't make it</button>
      </form>
    </div>
  </form>
{% endblock %}
