{% extends 'base.html' %}
{% include 'partials/navbar.html' %}
{% block content %}

<!-- <notification>Event Was Created</notification> -->
<h1 class="py-4 text-center font-monospace">ALL DONE!</h1>

<div class="d-flex justify-content-center align-items-center">
    <div class="border w-50 py-5">
        <div class="d-flex align-items-center flex-column font-monospace">
            <p class="fs-2 border-top border-bottom border-2 pb-2">{{event['event_name']}}</p>
            <p><b>Host Name:</b> {{event['owner_name']}}</p>
            <p><b>Host Number:</b> {{event['owner_number']}}</p>
            <p><b>Event Time:</b> {{event['time']}}</p>
            <p><b>Date:</b> {{event['date']}}</p>
            {% for rsvp in rsvps %}
              <p><b>{{ rsvp['recipient_name'] }}</b> | rsvp['status']</p>
            {% endfor %}
            <!-- <button type="button" class="btn btn-primary">Invite more friend</button> -->
            <div class="pt-3">
                <button type="submit" class="btn btn-secondary bg-light text-dark font-monospace px-3">Done</button>
            </div>
        </div>
    </div>
</div>

<!-- <img src="" alt=""> -->
<!-- _____ invited you to attend ____. Click here to respond. -->
{% endblock %}
