{% extends 'base.html' %}
{% block content %}

<!-- <notification>Event Was Created</notification> -->

<form class="bolder">
    <p>Event title</p>
    <p>host name</p>
    <p>My Phone number: </p>
    <p>Event time, date</p>
    <p>Friend 1 | Pending</p>
    <p>Friend 2 | Pending</p>
    <!-- <button type="button" class="btn btn-primary">Invite more friend</button> -->
</form>

<!-- <img src="" alt=""> -->
<!-- _____ invited you to attend ____. Click here to respond. -->

<button type="submit" class="btn btn-primary">Confirm</button>
<button type="submit" class="btn btn-primary">Back</button>
{% endblock %}
