{% extends 'base.html' %}
{% include 'partials/navbar.html' %}
{% block content %}
<h1 class="py-4 text-center font-monospace">CREATE EVENT</h1>
<div class="d-flex justify-content-center align-items-center">
  <form class="w-50" action="create" method="POST">
      <div class="form-group">
        <label class="fw-light">Name</label>
        <input class="form-control my-2" placeholder="What's your name" type="text" name="owner_name">
      </div>
      <div class="form-group">
        <label class="fw-light">Phone Number</label>
        <input class="form-control my-2" placeholder="What's your name" type="text" name="owner_phone_number">
      </div>
      <div class="form-group">
        <label  class="fw-light">Meeting name</label>
        <input class="form-control my-2" placeholder="e.g. Dinner at Joey's" type="text" name="event_name">
      </div>
      <div class="form-group">
          <label  class="fw-light">Date</label>
          <input class="form-control my-2" placeholder="DD/MM/YYYY" type="date" name="date">
        </div>
      <div class="form-group">
          <label  class="fw-light">Time</label>
          <input class="form-control my-2" placeholder="00:00 AM" type="time" name="time">
      </div>
      <h3 class="pt-4 pb-2 text-center font-monospace">Recipients</h3>
      <div class="form-group">
          <label class="fw-light">Name</label>
          <input class="form-control my-2" placeholder="Recipient Name" type="text" name="recipient1">

          <label class="fw-light">Phone Number</label>
          <input class="form-control my-2" placeholder="Phone Number" type="number" name="phone_number1">
      </div>

      <div class="form-group">
          <label class="fw-light">Name</label>
          <input class="form-control my-2" placeholder="Recipient Name" type="text" name="recipient2">

          <label class="fw-light">Phone Number</label>
          <input class="form-control my-2" placeholder="Phone Number" type="number" name="phone_number2">
      </div>
      <div class="d-flex justify-content-center py-2">
        <button type="submit" class="btn btn-secondary bg-light text-dark font-monospace">CREATE EVENT & INVITE PEOPLE</button>
      </div>
  </form>
</div>
{% endblock %}
