{% extends 'base.html' %}

{% block content %}
  <h1>Create Event</h1>
  <form class="bolder" action="/new-event" method="POST">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" placeholder="What's your name" type="text" name="name">
      </div>
      <div class="form-group">
        <label>Meeting name</label>
        <input class="form-control" placeholder="e.g. Dinner at Joey's" type="text" name="event_name">
      </div>
      <div class="form-group">
          <label>Date</label>
          <input class="form-control" placeholder="DD/MM/YYYY" type="date" name="date">
        </div>
      <div class="form-group">
          <label>Time</label>
          <input class="form-control" placeholder="00:00 AM" type="time" name="time">
      </div>

      <h5>Recipients</h5>
      <div class="form-group">
          <label>Name</label>
          <input class="form-control" placeholder="Recipient Name" type="text" name="recipient1">

          <label>Phone Number</label>
          <input class="form-control" placeholder="Phone Number" type="number" name="phone_number1">
      </div>

      <div class="form-group">
          <label>Name</label>
          <input class="form-control" placeholder="Recipient Name" type="text" name="recipient1">

          <label>Phone Number</label>
          <input class="form-control" placeholder="Phone Number" type="number" name="phone_number1">
      </div>

      <div class="form-group">
          <label>Name</label>
          <input class="form-control" placeholder="Recipient Name" type="text" name="recipient1">

          <label>Phone Number</label>
          <input class="form-control" placeholder="Phone Number" type="number" name="phone_number1">
      </div>

      <button type="submit" class="btn btn-primary">Create Event & Invite People</button>
  </form>
{% endblock %}
