{% extends 'base.html' %}
{% include 'partials/navbar.html' %}
{% block content %}
<h1 class="py-4 text-center font-monospace">Sign Up</h1>
<div class="d-flex justify-content-center">
    <form class="w-50" action="/signup" method="POST">
        <div class="form-group">
        <label class="fw-light">Name</label>
        <input class="form-control my-2" placeholder="What's your name" type="text" name="name">
        </div>
        <div class="form-group">
            <label class="fw-light">Phone_Number</label>
            <input class="form-control my-2" placeholder="+1 (***)*******" type="text" name="phone_number">
        </div>
        <div class="form-group">
            <label class="fw-light">Password</label>
            <input class="form-control my-2" min="8" placeholder="8+ Char Password" type="password" name="password">
        </div>
        <div class="d-flex justify-content-center my-4">
            <button type="submit" class="btn btn-secondary bg-light text-dark font-monospace px-3">Sign Up</button>
        </div>
        <p class="text-center">Already have an account?<a class="mx-3 text-decoration-none font-monospace" href="/signin">Sign-in</a></p>
    </form>
</div>
{% endblock %}
